#loading-container {
  scrollbar-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
}

#program-name {
  font-size: 1.2rem;
  font-weight: 500;
}

#brightness {
  animation: brightnessAnimation 1s infinite;
  width: 200px;
  height: 200px;
}

@keyframes brightnessAnimation {
  0% {
    content: url("../../img/brightness-stand.png");
  }
  50% {
    content: url("../../img/brightness-seat.png");
  }
  100% {
    content: url("../../img/brightness-stand.png");
  }
}
